.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: inherit;
	stroke: inherit;
}

.icon-burger {
	font-size:64px;
	width:(66/64)+em;
}

.icon-check_round {
	font-size:18px;
	width:(18/18)+em;
}

.icon-connector {
	font-size:80px;
	width:(80/80)+em;
}

.icon-doc_down {
	font-size:29px;
	width:(23/29)+em;
}

.icon-doc_pdf {
	font-size:29px;
	width:(22/29)+em;
}

.icon-doc_st {
	font-size:29px;
	width:(22/29)+em;
}

.icon-docx {
	font-size:612px;
	width:(612/612)+em;
}

.icon-doorkey {
	font-size:32.004px;
	width:(32.004/32.004)+em;
}

.icon-facebook {
	font-size:100px;
	width:(100/100)+em;
}

.icon-google {
	font-size:96.827px;
	width:(96.828/96.827)+em;
}

.icon-info {
	font-size:100px;
	width:(100/100)+em;
}

.icon-instagram {
	font-size:97.395px;
	width:(97.395/97.395)+em;
}

.icon-location {
	font-size:491.582px;
	width:(491.582/491.582)+em;
}

.icon-magnifying-glass {
	font-size:483.083px;
	width:(483.083/483.083)+em;
}

.icon-mail {
	font-size:64px;
	width:(64/64)+em;
}

.icon-map {
	font-size:33.468px;
	width:(33.468/33.468)+em;
}

.icon-musicplayer {
	font-size:265.404px;
	width:(265.404/265.404)+em;
}

.icon-padlock {
	font-size:32px;
	width:(32/32)+em;
}

.icon-pdf {
	font-size:573.75px;
	width:(573.75/573.75)+em;
}

.icon-ppt {
	font-size:573.75px;
	width:(573.75/573.75)+em;
}

.icon-registration {
	font-size:64.053px;
	width:(66.535/64.053)+em;
}

.icon-rss {
	font-size:100px;
	width:(100/100)+em;
}

.icon-share {
	font-size:502.749px;
	width:(502.749/502.749)+em;
}

.icon-star {
	font-size:612px;
	width:(612.001/612)+em;
}

.icon-tech-master {
	font-size:63.465px;
	width:(78/63.465)+em;
}

.icon-tool {
	font-size:204.993px;
	width:(204.993/204.993)+em;
}

.icon-user {
	font-size:64.053px;
	width:(66.535/64.053)+em;
}

.icon-vk {
	font-size:512px;
	width:(512/512)+em;
}
